<!-- Live Charts section -->
<div class="section__title m-b">Financial Markets</div>
<div class="row m-b">
  <div class="col-xs-12 col-md-4 m-b">
    <div class="card flex flex-col p-lg h-100">
      <h3 class="card__title">Market Overviews</h3>
      <a
        href="https://charts.yardeniquicktakes.com/56efd3be25544435f3382c69d879cdc43dc131a359d99e09b621a8c01981140fea5d1652ebfb749a2b7219eeb5f67ad70381119f8e30decd012b7fd1dd59c9eb3b1e3c28758e2f1b0d4694d50e2a32120ce30c0e2dd9f66dca1405357e33ac86cbbdf98f52b4e1ee7a/charts/dailyoverview.pdf"
        target="_blank"
        class="btn btn--xs btn--bordered"
        style="margin-bottom:10px;"
      >Daily Markets Overview</a>
      <a
        href="https://charts.yardeniquicktakes.com/56efd3be25544435f3382c69d879cdc43dc131a359d99e09b621a8c01981140fea5d1652ebfb749a2b7219eeb5f67ad70381119f8e30decd012b7fd1dd59c9eb3b1e3c28758e2f1b0d4694d50e2a32120ce30c0e2dd9f66dca1405357e33ac86cbbdf98f52b4e1ee7a/charts/dailyindexes.pdf"
        target="_blank"
        class="btn btn--xs btn--bordered"
        style="margin-bottom:10px;"
      >Daily Stock Market Indexes</a>
      <a
        href="https://charts.yardeniquicktakes.com/56efd3be25544435f3382c69d879cdc43dc131a359d99e09b621a8c01981140fea5d1652ebfb749a2b7219eeb5f67ad70381119f8e30decd012b7fd1dd59c9eb3b1e3c28758e2f1b0d4694d50e2a32120ce30c0e2dd9f66dca1405357e33ac86cbbdf98f52b4e1ee7a/charts/dailyglobalindexes.pdf"
        target="_blank"
        class="btn btn--xs btn--bordered"
        style="margin-bottom:10px;"
      >Daily Global Stock Markets</a>
      <hr />
      <h3 class="card__title">US Stock Market</h3>
      <a
        href="https://charts.yardeniquicktakes.com/56efd3be25544435f3382c69d879cdc43dc131a359d99e09b621a8c01981140fea5d1652ebfb749a2b7219eeb5f67ad70381119f8e30decd012b7fd1dd59c9eb3b1e3c28758e2f1b0d4694d50e2a32120ce30c0e2dd9f66dca1405357e33ac86cbbdf98f52b4e1ee7a/charts/peacockperf.pdf"
        target="_blank"
        class="btn btn--xs btn--bordered"
        style="margin-bottom:10px;"
      >S&P 500 Sectors & Industries (ytd)</a>
      <a
        href="https://charts.yardeniquicktakes.com/56efd3be25544435f3382c69d879cdc43dc131a359d99e09b621a8c01981140fea5d1652ebfb749a2b7219eeb5f67ad70381119f8e30decd012b7fd1dd59c9eb3b1e3c28758e2f1b0d4694d50e2a32120ce30c0e2dd9f66dca1405357e33ac86cbbdf98f52b4e1ee7a/charts/stmktsp5secind.pdf"
        target="_blank"
        class="btn btn--xs btn--bordered"
        style="margin-bottom:10px;"
      >S&P 500 Sectors & Industries Relative to S&P 500</a>
      <a
        href="https://charts.yardeniquicktakes.com/56efd3be25544435f3382c69d879cdc43dc131a359d99e09b621a8c01981140fea5d1652ebfb749a2b7219eeb5f67ad70381119f8e30decd012b7fd1dd59c9eb3b1e3c28758e2f1b0d4694d50e2a32120ce30c0e2dd9f66dca1405357e33ac86cbbdf98f52b4e1ee7a/charts/stylelgsmidcap.pdf"
        target="_blank"
        class="btn btn--xs btn--bordered"
        style="margin-bottom:10px;"
      >LargeCaps vs SMidCaps</a>
      <a
        href="https://charts.yardeniquicktakes.com/56efd3be25544435f3382c69d879cdc43dc131a359d99e09b621a8c01981140fea5d1652ebfb749a2b7219eeb5f67ad70381119f8e30decd012b7fd1dd59c9eb3b1e3c28758e2f1b0d4694d50e2a32120ce30c0e2dd9f66dca1405357e33ac86cbbdf98f52b4e1ee7a/charts/stylegrval.pdf"
        target="_blank"
        class="btn btn--xs btn--bordered"
        style="margin-bottom:10px;"
      >Growth vs Value</a>
      <a
        href="https://charts.yardeniquicktakes.com/56efd3be25544435f3382c69d879cdc43dc131a359d99e09b621a8c01981140fea5d1652ebfb749a2b7219eeb5f67ad70381119f8e30decd012b7fd1dd59c9eb3b1e3c28758e2f1b0d4694d50e2a32120ce30c0e2dd9f66dca1405357e33ac86cbbdf98f52b4e1ee7a/charts/mag8.pdf"
        target="_blank"
        class="btn btn--xs btn--bordered"
        style="margin-bottom:10px;"
      >MegaCap-8</a>
      <a
        href="https://charts.yardeniquicktakes.com/56efd3be25544435f3382c69d879cdc43dc131a359d99e09b621a8c01981140fea5d1652ebfb749a2b7219eeb5f67ad70381119f8e30decd012b7fd1dd59c9eb3b1e3c28758e2f1b0d4694d50e2a32120ce30c0e2dd9f66dca1405357e33ac86cbbdf98f52b4e1ee7a/charts/stylestaygo.pdf"
        target="_blank"
        class="btn btn--xs btn--bordered"
        style="margin-bottom:10px;"
      >Stay Home vs Go Global</a>
      <a
        href="https://charts.yardeniquicktakes.com/56efd3be25544435f3382c69d879cdc43dc131a359d99e09b621a8c01981140fea5d1652ebfb749a2b7219eeb5f67ad70381119f8e30decd012b7fd1dd59c9eb3b1e3c28758e2f1b0d4694d50e2a32120ce30c0e2dd9f66dca1405357e33ac86cbbdf98f52b4e1ee7a/charts/nasdaq.pdf"
        target="_blank"
        class="btn btn--xs btn--bordered"
        style="margin-bottom:10px;"
      >Nasdaq</a>
      <a
        href="https://charts.yardeniquicktakes.com/56efd3be25544435f3382c69d879cdc43dc131a359d99e09b621a8c01981140fea5d1652ebfb749a2b7219eeb5f67ad70381119f8e30decd012b7fd1dd59c9eb3b1e3c28758e2f1b0d4694d50e2a32120ce30c0e2dd9f66dca1405357e33ac86cbbdf98f52b4e1ee7a/charts/russell.pdf"
        target="_blank"
        class="btn btn--xs btn--bordered"
        style="margin-bottom:10px;"
      >Russell Indexes</a>
      <hr />
      <h3 class="card__title">Global Stock Markets</h3>
      <a
        href="https://charts.yardeniquicktakes.com/56efd3be25544435f3382c69d879cdc43dc131a359d99e09b621a8c01981140fea5d1652ebfb749a2b7219eeb5f67ad70381119f8e30decd012b7fd1dd59c9eb3b1e3c28758e2f1b0d4694d50e2a32120ce30c0e2dd9f66dca1405357e33ac86cbbdf98f52b4e1ee7a/charts/mscistmkt.pdf"
        target="_blank"
        class="btn btn--xs btn--bordered"
        style="margin-bottom:10px;"
      >MSCI Stock Market Indexes</a>
      <a
        href="https://charts.yardeniquicktakes.com/56efd3be25544435f3382c69d879cdc43dc131a359d99e09b621a8c01981140fea5d1652ebfb749a2b7219eeb5f67ad70381119f8e30decd012b7fd1dd59c9eb3b1e3c28758e2f1b0d4694d50e2a32120ce30c0e2dd9f66dca1405357e33ac86cbbdf98f52b4e1ee7a/charts/peacockglstkytd.pdf"
        target="_blank"
        class="btn btn--xs btn--bordered"
        style="margin-bottom:10px;"
      >Global Stock Markets (ytd)</a>
    </div>
  </div>

  <div class="col-xs-12 col-md-4 m-b">
    <div class="card flex flex-col p-lg h-100">
      <h3 class="card__title">Money & Credit Markets</h3>
      <a
        href="https://charts.yardeniquicktakes.com/56efd3be25544435f3382c69d879cdc43dc131a359d99e09b621a8c01981140fea5d1652ebfb749a2b7219eeb5f67ad70381119f8e30decd012b7fd1dd59c9eb3b1e3c28758e2f1b0d4694d50e2a32120ce30c0e2dd9f66dca1405357e33ac86cbbdf98f52b4e1ee7a/charts/fedfundsrate.pdf"
        target="_blank"
        class="btn btn--xs btn--bordered"
        style="margin-bottom:10px;"
      >Federal Funds Rate</a>
      <a
        href="https://charts.yardeniquicktakes.com/56efd3be25544435f3382c69d879cdc43dc131a359d99e09b621a8c01981140fea5d1652ebfb749a2b7219eeb5f67ad70381119f8e30decd012b7fd1dd59c9eb3b1e3c28758e2f1b0d4694d50e2a32120ce30c0e2dd9f66dca1405357e33ac86cbbdf98f52b4e1ee7a/charts/usinterestrate.pdf"
        target="_blank"
        class="btn btn--xs btn--bordered"
        style="margin-bottom:10px;"
      >US Bond Yields</a>
      <a
        href="https://charts.yardeniquicktakes.com/56efd3be25544435f3382c69d879cdc43dc131a359d99e09b621a8c01981140fea5d1652ebfb749a2b7219eeb5f67ad70381119f8e30decd012b7fd1dd59c9eb3b1e3c28758e2f1b0d4694d50e2a32120ce30c0e2dd9f66dca1405357e33ac86cbbdf98f52b4e1ee7a/charts/yieldcurveus.pdf"
        target="_blank"
        class="btn btn--xs btn--bordered"
        style="margin-bottom:10px;"
      >US Yield Curve</a>
      <a
        href="https://charts.yardeniquicktakes.com/56efd3be25544435f3382c69d879cdc43dc131a359d99e09b621a8c01981140fea5d1652ebfb749a2b7219eeb5f67ad70381119f8e30decd012b7fd1dd59c9eb3b1e3c28758e2f1b0d4694d50e2a32120ce30c0e2dd9f66dca1405357e33ac86cbbdf98f52b4e1ee7a/charts/corporatebonds.pdf"
        target="_blank"
        class="btn btn--xs btn--bordered"
        style="margin-bottom:10px;"
      >US Corporate Bond Yields</a>
      <a
        href="https://charts.yardeniquicktakes.com/56efd3be25544435f3382c69d879cdc43dc131a359d99e09b621a8c01981140fea5d1652ebfb749a2b7219eeb5f67ad70381119f8e30decd012b7fd1dd59c9eb3b1e3c28758e2f1b0d4694d50e2a32120ce30c0e2dd9f66dca1405357e33ac86cbbdf98f52b4e1ee7a/charts/glir.pdf"
        target="_blank"
        class="btn btn--xs btn--bordered"
        style="margin-bottom:10px;"
      >Global Interest Rates</a>
      <a
        href="https://charts.yardeniquicktakes.com/56efd3be25544435f3382c69d879cdc43dc131a359d99e09b621a8c01981140fea5d1652ebfb749a2b7219eeb5f67ad70381119f8e30decd012b7fd1dd59c9eb3b1e3c28758e2f1b0d4694d50e2a32120ce30c0e2dd9f66dca1405357e33ac86cbbdf98f52b4e1ee7a/charts/monetagg.pdf"
        target="_blank"
        class="btn btn--xs btn--bordered"
        style="margin-bottom:10px;"
      >Monetary Aggregates</a>
      <a
        href="https://charts.yardeniquicktakes.com/56efd3be25544435f3382c69d879cdc43dc131a359d99e09b621a8c01981140fea5d1652ebfb749a2b7219eeb5f67ad70381119f8e30decd012b7fd1dd59c9eb3b1e3c28758e2f1b0d4694d50e2a32120ce30c0e2dd9f66dca1405357e33ac86cbbdf98f52b4e1ee7a/charts/buscredit.pdf"
        target="_blank"
        class="btn btn--xs btn--bordered"
        style="margin-bottom:10px;"
      >Business Credit</a>
      <a
        href="https://charts.yardeniquicktakes.com/56efd3be25544435f3382c69d879cdc43dc131a359d99e09b621a8c01981140fea5d1652ebfb749a2b7219eeb5f67ad70381119f8e30decd012b7fd1dd59c9eb3b1e3c28758e2f1b0d4694d50e2a32120ce30c0e2dd9f66dca1405357e33ac86cbbdf98f52b4e1ee7a/charts/fbbnew.pdf"
        target="_blank"
        class="btn btn--xs btn--bordered"
        style="margin-bottom:10px;"
      >Commercial Banks (weekly)</a>
      <hr />
      <h3 class="card__title">Commodity Markets & Foreign Exchange Markets</h3>
      <a
        href="https://charts.yardeniquicktakes.com/56efd3be25544435f3382c69d879cdc43dc131a359d99e09b621a8c01981140fea5d1652ebfb749a2b7219eeb5f67ad70381119f8e30decd012b7fd1dd59c9eb3b1e3c28758e2f1b0d4694d50e2a32120ce30c0e2dd9f66dca1405357e33ac86cbbdf98f52b4e1ee7a/charts/commodityprices.pdf"
        target="_blank"
        class="btn btn--xs btn--bordered"
        style="margin-bottom:10px;"
      >Commodities</a>
      <a
        href="https://charts.yardeniquicktakes.com/56efd3be25544435f3382c69d879cdc43dc131a359d99e09b621a8c01981140fea5d1652ebfb749a2b7219eeb5f67ad70381119f8e30decd012b7fd1dd59c9eb3b1e3c28758e2f1b0d4694d50e2a32120ce30c0e2dd9f66dca1405357e33ac86cbbdf98f52b4e1ee7a/charts/goldhb.pdf"
        target="_blank"
        class="btn btn--xs btn--bordered"
        style="margin-bottom:10px;"
      >Gold</a>
      <a
        href="https://charts.yardeniquicktakes.com/56efd3be25544435f3382c69d879cdc43dc131a359d99e09b621a8c01981140fea5d1652ebfb749a2b7219eeb5f67ad70381119f8e30decd012b7fd1dd59c9eb3b1e3c28758e2f1b0d4694d50e2a32120ce30c0e2dd9f66dca1405357e33ac86cbbdf98f52b4e1ee7a/charts/oilprices.pdf"
        target="_blank"
        class="btn btn--xs btn--bordered"
        style="margin-bottom:10px;"
      >Oil</a>
      <a
        href="https://charts.yardeniquicktakes.com/56efd3be25544435f3382c69d879cdc43dc131a359d99e09b621a8c01981140fea5d1652ebfb749a2b7219eeb5f67ad70381119f8e30decd012b7fd1dd59c9eb3b1e3c28758e2f1b0d4694d50e2a32120ce30c0e2dd9f66dca1405357e33ac86cbbdf98f52b4e1ee7a/charts/tradeweightdol.pdf"
        target="_blank"
        class="btn btn--xs btn--bordered"
        style="margin-bottom:10px;"
      >Trade-Weighted Dollar</a>
      <a
        href="https://charts.yardeniquicktakes.com/56efd3be25544435f3382c69d879cdc43dc131a359d99e09b621a8c01981140fea5d1652ebfb749a2b7219eeb5f67ad70381119f8e30decd012b7fd1dd59c9eb3b1e3c28758e2f1b0d4694d50e2a32120ce30c0e2dd9f66dca1405357e33ac86cbbdf98f52b4e1ee7a/charts/currencies.pdf"
        target="_blank"
        class="btn btn--xs btn--bordered"
        style="margin-bottom:10px;"
      >Currencies</a>
      <a
        href="https://charts.yardeniquicktakes.com/56efd3be25544435f3382c69d879cdc43dc131a359d99e09b621a8c01981140fea5d1652ebfb749a2b7219eeb5f67ad70381119f8e30decd012b7fd1dd59c9eb3b1e3c28758e2f1b0d4694d50e2a32120ce30c0e2dd9f66dca1405357e33ac86cbbdf98f52b4e1ee7a/charts/bitcoin.pdf"
        target="_blank"
        class="btn btn--xs btn--bordered"
        style="margin-bottom:10px;"
      >Bitcoin</a>
    </div>
  </div>
  <div class="col-xs-12 col-md-4 m-b">
    <div class="card flex flex-col p-lg h-100">
      <h3 class="card__title">Market Technicals</h3>
      <a
        href="https://charts.yardeniquicktakes.com/56efd3be25544435f3382c69d879cdc43dc131a359d99e09b621a8c01981140fea5d1652ebfb749a2b7219eeb5f67ad70381119f8e30decd012b7fd1dd59c9eb3b1e3c28758e2f1b0d4694d50e2a32120ce30c0e2dd9f66dca1405357e33ac86cbbdf98f52b4e1ee7a/charts/marketcap.pdf"
        target="_blank"
        class="btn btn--xs btn--bordered"
        style="margin-bottom:10px;"
      >Market Capitalization</a>
      <a
        href="https://charts.yardeniquicktakes.com/56efd3be25544435f3382c69d879cdc43dc131a359d99e09b621a8c01981140fea5d1652ebfb749a2b7219eeb5f67ad70381119f8e30decd012b7fd1dd59c9eb3b1e3c28758e2f1b0d4694d50e2a32120ce30c0e2dd9f66dca1405357e33ac86cbbdf98f52b4e1ee7a/charts/sp500corrbear.pdf"
        target="_blank"
        class="btn btn--xs btn--bordered"
        style="margin-bottom:10px;"
      >Bull & Bear Markets & Corrections</a>
      <a
        href="https://charts.yardeniquicktakes.com/56efd3be25544435f3382c69d879cdc43dc131a359d99e09b621a8c01981140fea5d1652ebfb749a2b7219eeb5f67ad70381119f8e30decd012b7fd1dd59c9eb3b1e3c28758e2f1b0d4694d50e2a32120ce30c0e2dd9f66dca1405357e33ac86cbbdf98f52b4e1ee7a/charts/sp500corrbeartables.pdf"
        target="_blank"
        class="btn btn--xs btn--bordered"
        style="margin-bottom:10px;"
      >Bull & Bear Markets Tables</a>
      <a
        href="https://charts.yardeniquicktakes.com/56efd3be25544435f3382c69d879cdc43dc131a359d99e09b621a8c01981140fea5d1652ebfb749a2b7219eeb5f67ad70381119f8e30decd012b7fd1dd59c9eb3b1e3c28758e2f1b0d4694d50e2a32120ce30c0e2dd9f66dca1405357e33ac86cbbdf98f52b4e1ee7a/charts/breadth.pdf"
        target="_blank"
        class="btn btn--xs btn--bordered"
        style="margin-bottom:10px;"
      >Breadth</a>
      <a
        href="https://charts.yardeniquicktakes.com/56efd3be25544435f3382c69d879cdc43dc131a359d99e09b621a8c01981140fea5d1652ebfb749a2b7219eeb5f67ad70381119f8e30decd012b7fd1dd59c9eb3b1e3c28758e2f1b0d4694d50e2a32120ce30c0e2dd9f66dca1405357e33ac86cbbdf98f52b4e1ee7a/charts/stmktbullbear.pdf"
        target="_blank"
        class="btn btn--xs btn--bordered"
        style="margin-bottom:10px;"
      >Bull/Bear Ratios</a>
      <a
        href="https://charts.yardeniquicktakes.com/56efd3be25544435f3382c69d879cdc43dc131a359d99e09b621a8c01981140fea5d1652ebfb749a2b7219eeb5f67ad70381119f8e30decd012b7fd1dd59c9eb3b1e3c28758e2f1b0d4694d50e2a32120ce30c0e2dd9f66dca1405357e33ac86cbbdf98f52b4e1ee7a/charts/stmktvol.pdf"
        target="_blank"
        class="btn btn--xs btn--bordered"
        style="margin-bottom:10px;"
      >VIX & Credit Quality</a>
      <a
        href="https://charts.yardeniquicktakes.com/56efd3be25544435f3382c69d879cdc43dc131a359d99e09b621a8c01981140fea5d1652ebfb749a2b7219eeb5f67ad70381119f8e30decd012b7fd1dd59c9eb3b1e3c28758e2f1b0d4694d50e2a32120ce30c0e2dd9f66dca1405357e33ac86cbbdf98f52b4e1ee7a/charts/putcall.pdf"
        target="_blank"
        class="btn btn--xs btn--bordered"
        style="margin-bottom:10px;"
      >Put/Call</a>
      <a
        href="https://charts.yardeniquicktakes.com/56efd3be25544435f3382c69d879cdc43dc131a359d99e09b621a8c01981140fea5d1652ebfb749a2b7219eeb5f67ad70381119f8e30decd012b7fd1dd59c9eb3b1e3c28758e2f1b0d4694d50e2a32120ce30c0e2dd9f66dca1405357e33ac86cbbdf98f52b4e1ee7a/charts/stmkteqmardebt.pdf"
        target="_blank"
        class="btn btn--xs btn--bordered"
        style="margin-bottom:10px;"
      >Margin Debt</a>
      <a
        href="https://charts.yardeniquicktakes.com/56efd3be25544435f3382c69d879cdc43dc131a359d99e09b621a8c01981140fea5d1652ebfb749a2b7219eeb5f67ad70381119f8e30decd012b7fd1dd59c9eb3b1e3c28758e2f1b0d4694d50e2a32120ce30c0e2dd9f66dca1405357e33ac86cbbdf98f52b4e1ee7a/charts/stmktdow.pdf"
        target="_blank"
        class="btn btn--xs btn--bordered"
        style="margin-bottom:10px;"
      >Dow Theory</a>
      <a
        href="https://charts.yardeniquicktakes.com/56efd3be25544435f3382c69d879cdc43dc131a359d99e09b621a8c01981140fea5d1652ebfb749a2b7219eeb5f67ad70381119f8e30decd012b7fd1dd59c9eb3b1e3c28758e2f1b0d4694d50e2a32120ce30c0e2dd9f66dca1405357e33ac86cbbdf98f52b4e1ee7a/charts/stmktreturns.pdf"
        target="_blank"
        class="btn btn--xs btn--bordered"
        style="margin-bottom:10px;"
      >Historical Monthly & Annual Returns</a>
      <a
        href="https://charts.yardeniquicktakes.com/56efd3be25544435f3382c69d879cdc43dc131a359d99e09b621a8c01981140fea5d1652ebfb749a2b7219eeb5f67ad70381119f8e30decd012b7fd1dd59c9eb3b1e3c28758e2f1b0d4694d50e2a32120ce30c0e2dd9f66dca1405357e33ac86cbbdf98f52b4e1ee7a/charts/sp5congresscycle.pdf"
        target="_blank"
        class="btn btn--xs btn--bordered"
        style="margin-bottom:10px;"
      >Congressional Cycle</a>
      <a
        href="https://charts.yardeniquicktakes.com/56efd3be25544435f3382c69d879cdc43dc131a359d99e09b621a8c01981140fea5d1652ebfb749a2b7219eeb5f67ad70381119f8e30decd012b7fd1dd59c9eb3b1e3c28758e2f1b0d4694d50e2a32120ce30c0e2dd9f66dca1405357e33ac86cbbdf98f52b4e1ee7a/charts/stmktprescycle.pdf"
        target="_blank"
        class="btn btn--xs btn--bordered"
        style="margin-bottom:10px;"
      >Presidential Cycle</a>
    </div>
  </div>
</div>

<div class="section__title m-b">US Economy</div>
<div class="row m-b">
  <div class="col-xs-12 col-md-4 m-b">
    <div class="card flex flex-col p-lg h-100">
      <h3 class="card__title">US Economic Indicators</h3>
      <a
        href="https://charts.yardeniquicktakes.com/56efd3be25544435f3382c69d879cdc43dc131a359d99e09b621a8c01981140fea5d1652ebfb749a2b7219eeb5f67ad70381119f8e30decd012b7fd1dd59c9eb3b1e3c28758e2f1b0d4694d50e2a32120ce30c0e2dd9f66dca1405357e33ac86cbbdf98f52b4e1ee7a/charts/currentmonthlycalendar.pdf"
        target="_blank"
        class="btn btn--xs btn--bordered"
        style="margin-bottom:10px;"
      >Current Month Economic Calendar</a>
      <a
        href="https://charts.yardeniquicktakes.com/56efd3be25544435f3382c69d879cdc43dc131a359d99e09b621a8c01981140fea5d1652ebfb749a2b7219eeb5f67ad70381119f8e30decd012b7fd1dd59c9eb3b1e3c28758e2f1b0d4694d50e2a32120ce30c0e2dd9f66dca1405357e33ac86cbbdf98f52b4e1ee7a/charts/citigroup.pdf"
        target="_blank"
        class="btn btn--xs btn--bordered"
        style="margin-bottom:10px;"
      >Citigroup Economic Surprise</a>
      <a
        href="https://charts.yardeniquicktakes.com/56efd3be25544435f3382c69d879cdc43dc131a359d99e09b621a8c01981140fea5d1652ebfb749a2b7219eeb5f67ad70381119f8e30decd012b7fd1dd59c9eb3b1e3c28758e2f1b0d4694d50e2a32120ce30c0e2dd9f66dca1405357e33ac86cbbdf98f52b4e1ee7a/charts/ecoindlei.pdf"
        target="_blank"
        class="btn btn--xs btn--bordered"
        style="margin-bottom:10px;"
      >Leading & Coincident Indicators</a>
      <a
        href="https://charts.yardeniquicktakes.com/56efd3be25544435f3382c69d879cdc43dc131a359d99e09b621a8c01981140fea5d1652ebfb749a2b7219eeb5f67ad70381119f8e30decd012b7fd1dd59c9eb3b1e3c28758e2f1b0d4694d50e2a32120ce30c0e2dd9f66dca1405357e33ac86cbbdf98f52b4e1ee7a/charts/ecoindrur.pdf"
        target="_blank"
        class="btn btn--xs btn--bordered"
        style="margin-bottom:10px;"
      >Resource Utilization</a>
      <a
        href="https://charts.yardeniquicktakes.com/56efd3be25544435f3382c69d879cdc43dc131a359d99e09b621a8c01981140fea5d1652ebfb749a2b7219eeb5f67ad70381119f8e30decd012b7fd1dd59c9eb3b1e3c28758e2f1b0d4694d50e2a32120ce30c0e2dd9f66dca1405357e33ac86cbbdf98f52b4e1ee7a/charts/ecoindconssp.pdf"
        target="_blank"
        class="btn btn--xs btn--bordered"
        style="margin-bottom:10px;"
      >Construction Spending</a>
      <a
        href="https://charts.yardeniquicktakes.com/56efd3be25544435f3382c69d879cdc43dc131a359d99e09b621a8c01981140fea5d1652ebfb749a2b7219eeb5f67ad70381119f8e30decd012b7fd1dd59c9eb3b1e3c28758e2f1b0d4694d50e2a32120ce30c0e2dd9f66dca1405357e33ac86cbbdf98f52b4e1ee7a/charts/ustrdcbnew.pdf"
        target="_blank"
        class="btn btn--xs btn--bordered"
        style="margin-bottom:10px;"
      >Merchandise Trade</a>
      <hr />
      <h3 class="card__title">US Business Indicators</h3>
      <a
        href="https://charts.yardeniquicktakes.com/56efd3be25544435f3382c69d879cdc43dc131a359d99e09b621a8c01981140fea5d1652ebfb749a2b7219eeb5f67ad70381119f8e30decd012b7fd1dd59c9eb3b1e3c28758e2f1b0d4694d50e2a32120ce30c0e2dd9f66dca1405357e33ac86cbbdf98f52b4e1ee7a/charts/mtsales.pdf"
        target="_blank"
        class="btn btn--xs btn--bordered"
        style="margin-bottom:10px;"
      >Manufacturing & Trade Sales</a>
      <a
        href="https://charts.yardeniquicktakes.com/56efd3be25544435f3382c69d879cdc43dc131a359d99e09b621a8c01981140fea5d1652ebfb749a2b7219eeb5f67ad70381119f8e30decd012b7fd1dd59c9eb3b1e3c28758e2f1b0d4694d50e2a32120ce30c0e2dd9f66dca1405357e33ac86cbbdf98f52b4e1ee7a/charts/mtinvent.pdf"
        target="_blank"
        class="btn btn--xs btn--bordered"
        style="margin-bottom:10px;"
      >Inventories</a>
      <a
        href="https://charts.yardeniquicktakes.com/56efd3be25544435f3382c69d879cdc43dc131a359d99e09b621a8c01981140fea5d1652ebfb749a2b7219eeb5f67ad70381119f8e30decd012b7fd1dd59c9eb3b1e3c28758e2f1b0d4694d50e2a32120ce30c0e2dd9f66dca1405357e33ac86cbbdf98f52b4e1ee7a/charts/isratio.pdf"
        target="_blank"
        class="btn btn--xs btn--bordered"
        style="margin-bottom:10px;"
      >Inventories-to-Sales Ratios</a>
      <a
        href="https://charts.yardeniquicktakes.com/56efd3be25544435f3382c69d879cdc43dc131a359d99e09b621a8c01981140fea5d1652ebfb749a2b7219eeb5f67ad70381119f8e30decd012b7fd1dd59c9eb3b1e3c28758e2f1b0d4694d50e2a32120ce30c0e2dd9f66dca1405357e33ac86cbbdf98f52b4e1ee7a/charts/ecoinddurgds.pdf"
        target="_blank"
        class="btn btn--xs btn--bordered"
        style="margin-bottom:10px;"
      >Durable Goods Orders & Shipments</a>
      <a
        href="https://charts.yardeniquicktakes.com/56efd3be25544435f3382c69d879cdc43dc131a359d99e09b621a8c01981140fea5d1652ebfb749a2b7219eeb5f67ad70381119f8e30decd012b7fd1dd59c9eb3b1e3c28758e2f1b0d4694d50e2a32120ce30c0e2dd9f66dca1405357e33ac86cbbdf98f52b4e1ee7a/charts/ecoindipcu.pdf"
        target="_blank"
        class="btn btn--xs btn--bordered"
        style="margin-bottom:10px;"
      >Industrial Production</a>
      <a
        href="https://charts.yardeniquicktakes.com/56efd3be25544435f3382c69d879cdc43dc131a359d99e09b621a8c01981140fea5d1652ebfb749a2b7219eeb5f67ad70381119f8e30decd012b7fd1dd59c9eb3b1e3c28758e2f1b0d4694d50e2a32120ce30c0e2dd9f66dca1405357e33ac86cbbdf98f52b4e1ee7a/charts/caputil.pdf"
        target="_blank"
        class="btn btn--xs btn--bordered"
        style="margin-bottom:10px;"
      >Capacity Utilization</a>
      <a
        href="https://charts.yardeniquicktakes.com/56efd3be25544435f3382c69d879cdc43dc131a359d99e09b621a8c01981140fea5d1652ebfb749a2b7219eeb5f67ad70381119f8e30decd012b7fd1dd59c9eb3b1e3c28758e2f1b0d4694d50e2a32120ce30c0e2dd9f66dca1405357e33ac86cbbdf98f52b4e1ee7a/charts/atatruck.pdf"
        target="_blank"
        class="btn btn--xs btn--bordered"
        style="margin-bottom:10px;"
      >ATA Trucking Index</a>
      <a
        href="https://charts.yardeniquicktakes.com/56efd3be25544435f3382c69d879cdc43dc131a359d99e09b621a8c01981140fea5d1652ebfb749a2b7219eeb5f67ad70381119f8e30decd012b7fd1dd59c9eb3b1e3c28758e2f1b0d4694d50e2a32120ce30c0e2dd9f66dca1405357e33ac86cbbdf98f52b4e1ee7a/charts/ecoindrailcar.pdf"
        target="_blank"
        class="btn btn--xs btn--bordered"
        style="margin-bottom:10px;"
      >Railcar Loadings</a>
      <hr />
      <h3 class="card__title">US Economic Surveys</h3>
      <a
        href="https://charts.yardeniquicktakes.com/56efd3be25544435f3382c69d879cdc43dc131a359d99e09b621a8c01981140fea5d1652ebfb749a2b7219eeb5f67ad70381119f8e30decd012b7fd1dd59c9eb3b1e3c28758e2f1b0d4694d50e2a32120ce30c0e2dd9f66dca1405357e33ac86cbbdf98f52b4e1ee7a/charts/ceo.pdf"
        target="_blank"
        class="btn btn--xs btn--bordered"
        style="margin-bottom:10px;"
      >CEO Confidence</a>
      <a
        href="https://charts.yardeniquicktakes.com/56efd3be25544435f3382c69d879cdc43dc131a359d99e09b621a8c01981140fea5d1652ebfb749a2b7219eeb5f67ad70381119f8e30decd012b7fd1dd59c9eb3b1e3c28758e2f1b0d4694d50e2a32120ce30c0e2dd9f66dca1405357e33ac86cbbdf98f52b4e1ee7a/charts/ecoindsmbus.pdf"
        target="_blank"
        class="btn btn--xs btn--bordered"
        style="margin-bottom:10px;"
      >NFIB Small Business Surveys</a>
      <a
        href="https://charts.yardeniquicktakes.com/56efd3be25544435f3382c69d879cdc43dc131a359d99e09b621a8c01981140fea5d1652ebfb749a2b7219eeb5f67ad70381119f8e30decd012b7fd1dd59c9eb3b1e3c28758e2f1b0d4694d50e2a32120ce30c0e2dd9f66dca1405357e33ac86cbbdf98f52b4e1ee7a/charts/pmimfgnonmfg.pdf"
        target="_blank"
        class="btn btn--xs btn--bordered"
        style="margin-bottom:10px;"
      >Purchasing Managers Surveys: M-PMI & NM-PMI</a>
      <a
        href="https://charts.yardeniquicktakes.com/56efd3be25544435f3382c69d879cdc43dc131a359d99e09b621a8c01981140fea5d1652ebfb749a2b7219eeb5f67ad70381119f8e30decd012b7fd1dd59c9eb3b1e3c28758e2f1b0d4694d50e2a32120ce30c0e2dd9f66dca1405357e33ac86cbbdf98f52b4e1ee7a/charts/businesssurveyreg.pdf"
        target="_blank"
        class="btn btn--xs btn--bordered"
        style="margin-bottom:10px;"
      >Regional Business Surveys</a>
    </div>
  </div>

  <div class="col-xs-12 col-md-4 m-b">
    <div class="card flex flex-col p-lg h-100">
      <h3 class="card__title">US Consumer</h3>
      <a
        href="https://charts.yardeniquicktakes.com/56efd3be25544435f3382c69d879cdc43dc131a359d99e09b621a8c01981140fea5d1652ebfb749a2b7219eeb5f67ad70381119f8e30decd012b7fd1dd59c9eb3b1e3c28758e2f1b0d4694d50e2a32120ce30c0e2dd9f66dca1405357e33ac86cbbdf98f52b4e1ee7a/charts/employmentcb.pdf"
        target="_blank"
        class="btn btn--xs btn--bordered"
        style="margin-bottom:10px;"
      >BLS Employment</a>
      <a
        href="https://charts.yardeniquicktakes.com/56efd3be25544435f3382c69d879cdc43dc131a359d99e09b621a8c01981140fea5d1652ebfb749a2b7219eeb5f67ad70381119f8e30decd012b7fd1dd59c9eb3b1e3c28758e2f1b0d4694d50e2a32120ce30c0e2dd9f66dca1405357e33ac86cbbdf98f52b4e1ee7a/charts/unemployment.pdf"
        target="_blank"
        class="btn btn--xs btn--bordered"
        style="margin-bottom:10px;"
      >Unemployment</a>
      <a
        href="https://charts.yardeniquicktakes.com/56efd3be25544435f3382c69d879cdc43dc131a359d99e09b621a8c01981140fea5d1652ebfb749a2b7219eeb5f67ad70381119f8e30decd012b7fd1dd59c9eb3b1e3c28758e2f1b0d4694d50e2a32120ce30c0e2dd9f66dca1405357e33ac86cbbdf98f52b4e1ee7a/charts/peacockclms.pdf"
        target="_blank"
        class="btn btn--xs btn--bordered"
        style="margin-bottom:10px;"
      >Unemployment Claims</a>
      <a
        href="https://charts.yardeniquicktakes.com/56efd3be25544435f3382c69d879cdc43dc131a359d99e09b621a8c01981140fea5d1652ebfb749a2b7219eeb5f67ad70381119f8e30decd012b7fd1dd59c9eb3b1e3c28758e2f1b0d4694d50e2a32120ce30c0e2dd9f66dca1405357e33ac86cbbdf98f52b4e1ee7a/charts/jolts.pdf"
        target="_blank"
        class="btn btn--xs btn--bordered"
        style="margin-bottom:10px;"
      >JOLTS</a>
      <a
        href="https://charts.yardeniquicktakes.com/56efd3be25544435f3382c69d879cdc43dc131a359d99e09b621a8c01981140fea5d1652ebfb749a2b7219eeb5f67ad70381119f8e30decd012b7fd1dd59c9eb3b1e3c28758e2f1b0d4694d50e2a32120ce30c0e2dd9f66dca1405357e33ac86cbbdf98f52b4e1ee7a/charts/ecoindahe.pdf"
        target="_blank"
        class="btn btn--xs btn--bordered"
        style="margin-bottom:10px;"
      >Average Hourly Earnings</a>
      <a
        href="https://charts.yardeniquicktakes.com/56efd3be25544435f3382c69d879cdc43dc131a359d99e09b621a8c01981140fea5d1652ebfb749a2b7219eeb5f67ad70381119f8e30decd012b7fd1dd59c9eb3b1e3c28758e2f1b0d4694d50e2a32120ce30c0e2dd9f66dca1405357e33ac86cbbdf98f52b4e1ee7a/charts/ecoindeci.pdf"
        target="_blank"
        class="btn btn--xs btn--bordered"
        style="margin-bottom:10px;"
      >Employment Cost Index</a>
      <a
        href="https://charts.yardeniquicktakes.com/56efd3be25544435f3382c69d879cdc43dc131a359d99e09b621a8c01981140fea5d1652ebfb749a2b7219eeb5f67ad70381119f8e30decd012b7fd1dd59c9eb3b1e3c28758e2f1b0d4694d50e2a32120ce30c0e2dd9f66dca1405357e33ac86cbbdf98f52b4e1ee7a/charts/atlantawagetracker.pdf"
        target="_blank"
        class="btn btn--xs btn--bordered"
        style="margin-bottom:10px;"
      >Atlanta Fed’s Median Wage Growth Tracker</a>
      <a
        href="https://charts.yardeniquicktakes.com/56efd3be25544435f3382c69d879cdc43dc131a359d99e09b621a8c01981140fea5d1652ebfb749a2b7219eeb5f67ad70381119f8e30decd012b7fd1dd59c9eb3b1e3c28758e2f1b0d4694d50e2a32120ce30c0e2dd9f66dca1405357e33ac86cbbdf98f52b4e1ee7a/charts/piconsump_bb.pdf"
        target="_blank"
        class="btn btn--xs btn--bordered"
        style="margin-bottom:10px;"
      >Personal Income</a>
      <a
        href="https://charts.yardeniquicktakes.com/56efd3be25544435f3382c69d879cdc43dc131a359d99e09b621a8c01981140fea5d1652ebfb749a2b7219eeb5f67ad70381119f8e30decd012b7fd1dd59c9eb3b1e3c28758e2f1b0d4694d50e2a32120ce30c0e2dd9f66dca1405357e33ac86cbbdf98f52b4e1ee7a/charts/personalsave.pdf"
        target="_blank"
        class="btn btn--xs btn--bordered"
        style="margin-bottom:10px;"
      >Saving</a>
      <a
        href="https://charts.yardeniquicktakes.com/56efd3be25544435f3382c69d879cdc43dc131a359d99e09b621a8c01981140fea5d1652ebfb749a2b7219eeb5f67ad70381119f8e30decd012b7fd1dd59c9eb3b1e3c28758e2f1b0d4694d50e2a32120ce30c0e2dd9f66dca1405357e33ac86cbbdf98f52b4e1ee7a/charts/ecoindcc.pdf"
        target="_blank"
        class="btn btn--xs btn--bordered"
        style="margin-bottom:10px;"
      >Consumer Credit</a>
      <a
        href="https://charts.yardeniquicktakes.com/56efd3be25544435f3382c69d879cdc43dc131a359d99e09b621a8c01981140fea5d1652ebfb749a2b7219eeb5f67ad70381119f8e30decd012b7fd1dd59c9eb3b1e3c28758e2f1b0d4694d50e2a32120ce30c0e2dd9f66dca1405357e33ac86cbbdf98f52b4e1ee7a/charts/ecoindauto.pdf"
        target="_blank"
        class="btn btn--xs btn--bordered"
        style="margin-bottom:10px;"
      >Auto Sales</a>
      <a
        href="https://charts.yardeniquicktakes.com/56efd3be25544435f3382c69d879cdc43dc131a359d99e09b621a8c01981140fea5d1652ebfb749a2b7219eeb5f67ad70381119f8e30decd012b7fd1dd59c9eb3b1e3c28758e2f1b0d4694d50e2a32120ce30c0e2dd9f66dca1405357e33ac86cbbdf98f52b4e1ee7a/charts/ecoindretsls.pdf"
        target="_blank"
        class="btn btn--xs btn--bordered"
        style="margin-bottom:10px;"
      >Retail Sales</a>
      <a
        href="https://charts.yardeniquicktakes.com/56efd3be25544435f3382c69d879cdc43dc131a359d99e09b621a8c01981140fea5d1652ebfb749a2b7219eeb5f67ad70381119f8e30decd012b7fd1dd59c9eb3b1e3c28758e2f1b0d4694d50e2a32120ce30c0e2dd9f66dca1405357e33ac86cbbdf98f52b4e1ee7a/charts/consconfidcb.pdf"
        target="_blank"
        class="btn btn--xs btn--bordered"
        style="margin-bottom:10px;"
      >Consumer Confidence, Sentiment, & Optimism</a>
      <hr />
      <h3 class="card__title">US Housing</h3>
      <a
        href="https://charts.yardeniquicktakes.com/56efd3be25544435f3382c69d879cdc43dc131a359d99e09b621a8c01981140fea5d1652ebfb749a2b7219eeb5f67ad70381119f8e30decd012b7fd1dd59c9eb3b1e3c28758e2f1b0d4694d50e2a32120ce30c0e2dd9f66dca1405357e33ac86cbbdf98f52b4e1ee7a/charts/hstarts.pdf"
        target="_blank"
        class="btn btn--xs btn--bordered"
        style="margin-bottom:10px;"
      >Housing Permits, Starts, & Completions</a>
      <a
        href="https://charts.yardeniquicktakes.com/56efd3be25544435f3382c69d879cdc43dc131a359d99e09b621a8c01981140fea5d1652ebfb749a2b7219eeb5f67ad70381119f8e30decd012b7fd1dd59c9eb3b1e3c28758e2f1b0d4694d50e2a32120ce30c0e2dd9f66dca1405357e33ac86cbbdf98f52b4e1ee7a/charts/newhome.pdf"
        target="_blank"
        class="btn btn--xs btn--bordered"
        style="margin-bottom:10px;"
      >New Home Sales & Housing Market Index</a>
      <a
        href="https://charts.yardeniquicktakes.com/56efd3be25544435f3382c69d879cdc43dc131a359d99e09b621a8c01981140fea5d1652ebfb749a2b7219eeb5f67ad70381119f8e30decd012b7fd1dd59c9eb3b1e3c28758e2f1b0d4694d50e2a32120ce30c0e2dd9f66dca1405357e33ac86cbbdf98f52b4e1ee7a/charts/existhome.pdf"
        target="_blank"
        class="btn btn--xs btn--bordered"
        style="margin-bottom:10px;"
      >Existing Home Sales & Pending Sales</a>
      <a
        href="https://charts.yardeniquicktakes.com/56efd3be25544435f3382c69d879cdc43dc131a359d99e09b621a8c01981140fea5d1652ebfb749a2b7219eeb5f67ad70381119f8e30decd012b7fd1dd59c9eb3b1e3c28758e2f1b0d4694d50e2a32120ce30c0e2dd9f66dca1405357e33ac86cbbdf98f52b4e1ee7a/charts/mortgageapprate.pdf"
        target="_blank"
        class="btn btn--xs btn--bordered"
        style="margin-bottom:10px;"
      >Mortgage Applications & Mortgage Rates</a>
    </div>
  </div>

  <div class="col-xs-12 col-md-4 m-b">
    <div class="card flex flex-col p-lg h-100">
      <h3 class="card__title">US GDP</h3>
      <a
        href="https://charts.yardeniquicktakes.com/56efd3be25544435f3382c69d879cdc43dc131a359d99e09b621a8c01981140fea5d1652ebfb749a2b7219eeb5f67ad70381119f8e30decd012b7fd1dd59c9eb3b1e3c28758e2f1b0d4694d50e2a32120ce30c0e2dd9f66dca1405357e33ac86cbbdf98f52b4e1ee7a/charts/gdp.pdf"
        target="_blank"
        class="btn btn--xs btn--bordered"
        style="margin-bottom:10px;"
      >GDP</a>
      <a
        href="https://charts.yardeniquicktakes.com/56efd3be25544435f3382c69d879cdc43dc131a359d99e09b621a8c01981140fea5d1652ebfb749a2b7219eeb5f67ad70381119f8e30decd012b7fd1dd59c9eb3b1e3c28758e2f1b0d4694d50e2a32120ce30c0e2dd9f66dca1405357e33ac86cbbdf98f52b4e1ee7a/charts/gdpconspend.pdf"
        target="_blank"
        class="btn btn--xs btn--bordered"
        style="margin-bottom:10px;"
      >Consumer Spending in GDP</a>
      <a
        href="https://charts.yardeniquicktakes.com/56efd3be25544435f3382c69d879cdc43dc131a359d99e09b621a8c01981140fea5d1652ebfb749a2b7219eeb5f67ad70381119f8e30decd012b7fd1dd59c9eb3b1e3c28758e2f1b0d4694d50e2a32120ce30c0e2dd9f66dca1405357e33ac86cbbdf98f52b4e1ee7a/charts/residinvest.pdf"
        target="_blank"
        class="btn btn--xs btn--bordered"
        style="margin-bottom:10px;"
      >Residential Investment in Real GDP</a>
      <a
        href="https://charts.yardeniquicktakes.com/56efd3be25544435f3382c69d879cdc43dc131a359d99e09b621a8c01981140fea5d1652ebfb749a2b7219eeb5f67ad70381119f8e30decd012b7fd1dd59c9eb3b1e3c28758e2f1b0d4694d50e2a32120ce30c0e2dd9f66dca1405357e33ac86cbbdf98f52b4e1ee7a/charts/troughcapsp.pdf"
        target="_blank"
        class="btn btn--xs btn--bordered"
        style="margin-bottom:10px;"
      >Capital Spending in Real GDP</a>
      <a
        href="https://charts.yardeniquicktakes.com/56efd3be25544435f3382c69d879cdc43dc131a359d99e09b621a8c01981140fea5d1652ebfb749a2b7219eeb5f67ad70381119f8e30decd012b7fd1dd59c9eb3b1e3c28758e2f1b0d4694d50e2a32120ce30c0e2dd9f66dca1405357e33ac86cbbdf98f52b4e1ee7a/charts/htspendgdp.pdf"
        target="_blank"
        class="btn btn--xs btn--bordered"
        style="margin-bottom:10px;"
      >High-Tech Spending in GDP</a>
      <a
        href="https://charts.yardeniquicktakes.com/56efd3be25544435f3382c69d879cdc43dc131a359d99e09b621a8c01981140fea5d1652ebfb749a2b7219eeb5f67ad70381119f8e30decd012b7fd1dd59c9eb3b1e3c28758e2f1b0d4694d50e2a32120ce30c0e2dd9f66dca1405357e33ac86cbbdf98f52b4e1ee7a/charts/tradegdp.pdf"
        target="_blank"
        class="btn btn--xs btn--bordered"
        style="margin-bottom:10px;"
      >Trade in GDP</a>
      <a
        href="https://charts.yardeniquicktakes.com/56efd3be25544435f3382c69d879cdc43dc131a359d99e09b621a8c01981140fea5d1652ebfb749a2b7219eeb5f67ad70381119f8e30decd012b7fd1dd59c9eb3b1e3c28758e2f1b0d4694d50e2a32120ce30c0e2dd9f66dca1405357e33ac86cbbdf98f52b4e1ee7a/charts/ppphb.pdf"
        target="_blank"
        class="btn btn--xs btn--bordered"
        style="margin-bottom:10px;"
      >Corporate Profits in GDP</a>
      <hr />
      <h3 class="card__title">US Inflation & Productivity Indicators</h3>
      <a
        href="https://charts.yardeniquicktakes.com/56efd3be25544435f3382c69d879cdc43dc131a359d99e09b621a8c01981140fea5d1652ebfb749a2b7219eeb5f67ad70381119f8e30decd012b7fd1dd59c9eb3b1e3c28758e2f1b0d4694d50e2a32120ce30c0e2dd9f66dca1405357e33ac86cbbdf98f52b4e1ee7a/charts/infltrus_bb.pdf"
        target="_blank"
        class="btn btn--xs btn--bordered"
        style="margin-bottom:10px;"
      >CPI & PCED</a>
      <a
        href="https://charts.yardeniquicktakes.com/56efd3be25544435f3382c69d879cdc43dc131a359d99e09b621a8c01981140fea5d1652ebfb749a2b7219eeb5f67ad70381119f8e30decd012b7fd1dd59c9eb3b1e3c28758e2f1b0d4694d50e2a32120ce30c0e2dd9f66dca1405357e33ac86cbbdf98f52b4e1ee7a/charts/usppinew_bb.pdf"
        target="_blank"
        class="btn btn--xs btn--bordered"
        style="margin-bottom:10px;"
      >Producer Prices</a>
      <a
        href="https://charts.yardeniquicktakes.com/56efd3be25544435f3382c69d879cdc43dc131a359d99e09b621a8c01981140fea5d1652ebfb749a2b7219eeb5f67ad70381119f8e30decd012b7fd1dd59c9eb3b1e3c28758e2f1b0d4694d50e2a32120ce30c0e2dd9f66dca1405357e33ac86cbbdf98f52b4e1ee7a/charts/gdpdefl.pdf"
        target="_blank"
        class="btn btn--xs btn--bordered"
        style="margin-bottom:10px;"
      >GDP Price Deflators</a>
      <a
        href="https://charts.yardeniquicktakes.com/56efd3be25544435f3382c69d879cdc43dc131a359d99e09b621a8c01981140fea5d1652ebfb749a2b7219eeb5f67ad70381119f8e30decd012b7fd1dd59c9eb3b1e3c28758e2f1b0d4694d50e2a32120ce30c0e2dd9f66dca1405357e33ac86cbbdf98f52b4e1ee7a/charts/phillipscurve.pdf"
        target="_blank"
        class="btn btn--xs btn--bordered"
        style="margin-bottom:10px;"
      >Phillips Curve</a>
      <a
        href="https://charts.yardeniquicktakes.com/56efd3be25544435f3382c69d879cdc43dc131a359d99e09b621a8c01981140fea5d1652ebfb749a2b7219eeb5f67ad70381119f8e30decd012b7fd1dd59c9eb3b1e3c28758e2f1b0d4694d50e2a32120ce30c0e2dd9f66dca1405357e33ac86cbbdf98f52b4e1ee7a/charts/produlc.pdf"
        target="_blank"
        class="btn btn--xs btn--bordered"
        style="margin-bottom:10px;"
      >Productivity & Labor Costs</a>
      <hr />
      <h3 class="card__title">US Policy Indicators</h3>
      <a
        href="https://charts.yardeniquicktakes.com/56efd3be25544435f3382c69d879cdc43dc131a359d99e09b621a8c01981140fea5d1652ebfb749a2b7219eeb5f67ad70381119f8e30decd012b7fd1dd59c9eb3b1e3c28758e2f1b0d4694d50e2a32120ce30c0e2dd9f66dca1405357e33ac86cbbdf98f52b4e1ee7a/charts/fedpolicy.pdf"
        target="_blank"
        class="btn btn--xs btn--bordered"
        style="margin-bottom:10px;"
      >Fed Policy Cycle</a>
      <a
        href="https://charts.yardeniquicktakes.com/56efd3be25544435f3382c69d879cdc43dc131a359d99e09b621a8c01981140fea5d1652ebfb749a2b7219eeb5f67ad70381119f8e30decd012b7fd1dd59c9eb3b1e3c28758e2f1b0d4694d50e2a32120ce30c0e2dd9f66dca1405357e33ac86cbbdf98f52b4e1ee7a/charts/fedbal.pdf"
        target="_blank"
        class="btn btn--xs btn--bordered"
        style="margin-bottom:10px;"
      >Fed’s Balance Sheet</a>
      <a
        href="https://charts.yardeniquicktakes.com/56efd3be25544435f3382c69d879cdc43dc131a359d99e09b621a8c01981140fea5d1652ebfb749a2b7219eeb5f67ad70381119f8e30decd012b7fd1dd59c9eb3b1e3c28758e2f1b0d4694d50e2a32120ce30c0e2dd9f66dca1405357e33ac86cbbdf98f52b4e1ee7a/charts/monpolicyqe.pdf"
        target="_blank"
        class="btn btn--xs btn--bordered"
        style="margin-bottom:10px;"
      >Fed’s QE Programs</a>
      <a
        href="https://charts.yardeniquicktakes.com/56efd3be25544435f3382c69d879cdc43dc131a359d99e09b621a8c01981140fea5d1652ebfb749a2b7219eeb5f67ad70381119f8e30decd012b7fd1dd59c9eb3b1e3c28758e2f1b0d4694d50e2a32120ce30c0e2dd9f66dca1405357e33ac86cbbdf98f52b4e1ee7a/charts/usfedfin.pdf"
        target="_blank"
        class="btn btn--xs btn--bordered"
        style="margin-bottom:10px;"
      >US Federal Outlays & Receipts</a>
      <a
        href="https://charts.yardeniquicktakes.com/56efd3be25544435f3382c69d879cdc43dc131a359d99e09b621a8c01981140fea5d1652ebfb749a2b7219eeb5f67ad70381119f8e30decd012b7fd1dd59c9eb3b1e3c28758e2f1b0d4694d50e2a32120ce30c0e2dd9f66dca1405357e33ac86cbbdf98f52b4e1ee7a/charts/usfeddebt.pdf"
        target="_blank"
        class="btn btn--xs btn--bordered"
        style="margin-bottom:10px;"
      >US Federal Debt</a>
    </div>
  </div>
</div>

<div class="section__title m-b">Global Economy</div>
<div class="row m-b">
  <div class="col-xs-12 col-md-4 m-b">
    <div class="card flex flex-col p-lg h-100">
      <h3 class="card__title">Global Economic Indicators</h3>
      <a
        href="https://charts.yardeniquicktakes.com/56efd3be25544435f3382c69d879cdc43dc131a359d99e09b621a8c01981140fea5d1652ebfb749a2b7219eeb5f67ad70381119f8e30decd012b7fd1dd59c9eb3b1e3c28758e2f1b0d4694d50e2a32120ce30c0e2dd9f66dca1405357e33ac86cbbdf98f52b4e1ee7a/charts/globalauto.pdf"
        target="_blank"
        class="btn btn--xs btn--bordered"
        style="margin-bottom:10px;"
      >Auto Sales Production & Sales</a>
      <a
        href="https://charts.yardeniquicktakes.com/56efd3be25544435f3382c69d879cdc43dc131a359d99e09b621a8c01981140fea5d1652ebfb749a2b7219eeb5f67ad70381119f8e30decd012b7fd1dd59c9eb3b1e3c28758e2f1b0d4694d50e2a32120ce30c0e2dd9f66dca1405357e33ac86cbbdf98f52b4e1ee7a/charts/worldrealgdp.pdf"
        target="_blank"
        class="btn btn--xs btn--bordered"
        style="margin-bottom:10px;"
      >Country GDP Growth</a>
      <a
        href="https://charts.yardeniquicktakes.com/56efd3be25544435f3382c69d879cdc43dc131a359d99e09b621a8c01981140fea5d1652ebfb749a2b7219eeb5f67ad70381119f8e30decd012b7fd1dd59c9eb3b1e3c28758e2f1b0d4694d50e2a32120ce30c0e2dd9f66dca1405357e33ac86cbbdf98f52b4e1ee7a/charts/globalip.pdf"
        target="_blank"
        class="btn btn--xs btn--bordered"
        style="margin-bottom:10px;"
      >Global Industrial Production</a>
      <a
        href="https://charts.yardeniquicktakes.com/56efd3be25544435f3382c69d879cdc43dc131a359d99e09b621a8c01981140fea5d1652ebfb749a2b7219eeb5f67ad70381119f8e30decd012b7fd1dd59c9eb3b1e3c28758e2f1b0d4694d50e2a32120ce30c0e2dd9f66dca1405357e33ac86cbbdf98f52b4e1ee7a/charts/globalleadind.pdf"
        target="_blank"
        class="btn btn--xs btn--bordered"
        style="margin-bottom:10px;"
      >Global OECD Leading Indicators</a>
      <a
        href="https://charts.yardeniquicktakes.com/56efd3be25544435f3382c69d879cdc43dc131a359d99e09b621a8c01981140fea5d1652ebfb749a2b7219eeb5f67ad70381119f8e30decd012b7fd1dd59c9eb3b1e3c28758e2f1b0d4694d50e2a32120ce30c0e2dd9f66dca1405357e33ac86cbbdf98f52b4e1ee7a/charts/ecoindglpmi.pdf"
        target="_blank"
        class="btn btn--xs btn--bordered"
        style="margin-bottom:10px;"
      >Global Purchasing Managers Indexes</a>
      <a
        href="https://charts.yardeniquicktakes.com/56efd3be25544435f3382c69d879cdc43dc131a359d99e09b621a8c01981140fea5d1652ebfb749a2b7219eeb5f67ad70381119f8e30decd012b7fd1dd59c9eb3b1e3c28758e2f1b0d4694d50e2a32120ce30c0e2dd9f66dca1405357e33ac86cbbdf98f52b4e1ee7a/charts/flashpmiglobal.pdf"
        target="_blank"
        class="btn btn--xs btn--bordered"
        style="margin-bottom:10px;"
      >Markit PMIs</a>
      <a
        href="https://charts.yardeniquicktakes.com/56efd3be25544435f3382c69d879cdc43dc131a359d99e09b621a8c01981140fea5d1652ebfb749a2b7219eeb5f67ad70381119f8e30decd012b7fd1dd59c9eb3b1e3c28758e2f1b0d4694d50e2a32120ce30c0e2dd9f66dca1405357e33ac86cbbdf98f52b4e1ee7a/charts/ecoindeuresi.pdf"
        target="_blank"
        class="btn btn--xs btn--bordered"
        style="margin-bottom:10px;"
      >Europe Economic Sentiment</a>
      <a
        href="https://charts.yardeniquicktakes.com/56efd3be25544435f3382c69d879cdc43dc131a359d99e09b621a8c01981140fea5d1652ebfb749a2b7219eeb5f67ad70381119f8e30decd012b7fd1dd59c9eb3b1e3c28758e2f1b0d4694d50e2a32120ce30c0e2dd9f66dca1405357e33ac86cbbdf98f52b4e1ee7a/charts/europeip.pdf"
        target="_blank"
        class="btn btn--xs btn--bordered"
        style="margin-bottom:10px;"
      >Europe Industrial Production</a>
      <a
        href="https://charts.yardeniquicktakes.com/56efd3be25544435f3382c69d879cdc43dc131a359d99e09b621a8c01981140fea5d1652ebfb749a2b7219eeb5f67ad70381119f8e30decd012b7fd1dd59c9eb3b1e3c28758e2f1b0d4694d50e2a32120ce30c0e2dd9f66dca1405357e33ac86cbbdf98f52b4e1ee7a/charts/ecoindeuret.pdf"
        target="_blank"
        class="btn btn--xs btn--bordered"
        style="margin-bottom:10px;"
      >Europe Retail Sales</a>
      <a
        href="https://charts.yardeniquicktakes.com/56efd3be25544435f3382c69d879cdc43dc131a359d99e09b621a8c01981140fea5d1652ebfb749a2b7219eeb5f67ad70381119f8e30decd012b7fd1dd59c9eb3b1e3c28758e2f1b0d4694d50e2a32120ce30c0e2dd9f66dca1405357e33ac86cbbdf98f52b4e1ee7a/charts/ecoglindordip.pdf"
        target="_blank"
        class="btn btn--xs btn--bordered"
        style="margin-bottom:10px;"
      >German Orders & Production</a>
      <a
        href="https://charts.yardeniquicktakes.com/56efd3be25544435f3382c69d879cdc43dc131a359d99e09b621a8c01981140fea5d1652ebfb749a2b7219eeb5f67ad70381119f8e30decd012b7fd1dd59c9eb3b1e3c28758e2f1b0d4694d50e2a32120ce30c0e2dd9f66dca1405357e33ac86cbbdf98f52b4e1ee7a/charts/ecoglindifo.pdf"
        target="_blank"
        class="btn btn--xs btn--bordered"
        style="margin-bottom:10px;"
      >German IFO Survey</a>
      <a
        href="https://charts.yardeniquicktakes.com/56efd3be25544435f3382c69d879cdc43dc131a359d99e09b621a8c01981140fea5d1652ebfb749a2b7219eeb5f67ad70381119f8e30decd012b7fd1dd59c9eb3b1e3c28758e2f1b0d4694d50e2a32120ce30c0e2dd9f66dca1405357e33ac86cbbdf98f52b4e1ee7a/charts/chinagdpprodret.pdf"
        target="_blank"
        class="btn btn--xs btn--bordered"
        style="margin-bottom:10px;"
      >China GDP, Production, & Retail Sales</a>

    </div>
  </div>

  <div class="col-xs-12 col-md-4 m-b">
    <div class="card flex flex-col p-lg h-100">
      <h3 class="card__title">Global Inflation</h3>
      <a
        href="https://charts.yardeniquicktakes.com/56efd3be25544435f3382c69d879cdc43dc131a359d99e09b621a8c01981140fea5d1652ebfb749a2b7219eeb5f67ad70381119f8e30decd012b7fd1dd59c9eb3b1e3c28758e2f1b0d4694d50e2a32120ce30c0e2dd9f66dca1405357e33ac86cbbdf98f52b4e1ee7a/charts/infltrglb_bb.pdf"
        target="_blank"
        class="btn btn--xs btn--bordered"
        style="margin-bottom:10px;"
      >Global Inflation</a>
      <a
        href="https://charts.yardeniquicktakes.com/56efd3be25544435f3382c69d879cdc43dc131a359d99e09b621a8c01981140fea5d1652ebfb749a2b7219eeb5f67ad70381119f8e30decd012b7fd1dd59c9eb3b1e3c28758e2f1b0d4694d50e2a32120ce30c0e2dd9f66dca1405357e33ac86cbbdf98f52b4e1ee7a/charts/eurozonecpi.pdf"
        target="_blank"
        class="btn btn--xs btn--bordered"
        style="margin-bottom:10px;"
      >Eurozone CPI</a>
    </div>
  </div>

  <div class="col-xs-12 col-md-4 m-b">
    <div class="card flex flex-col p-lg h-100">
      <h3 class="card__title">Global Policy Indicators</h3>
      <a
        href="http://www.yardeni.com/pub/euromoneycredit.pdf"
        target="_blank"
        class="btn btn--xs btn--bordered"
        style="margin-bottom:10px;"
      >ECB Policy Tools</a>
      <a
        href="http://www.yardeni.com/pub/bojmoneycredit.pdf"
        target="_blank"
        class="btn btn--xs btn--bordered"
        style="margin-bottom:10px;"
      >BOJ Policy Tools</a>
      <a
        href="https://charts.yardeniquicktakes.com/56efd3be25544435f3382c69d879cdc43dc131a359d99e09b621a8c01981140fea5d1652ebfb749a2b7219eeb5f67ad70381119f8e30decd012b7fd1dd59c9eb3b1e3c28758e2f1b0d4694d50e2a32120ce30c0e2dd9f66dca1405357e33ac86cbbdf98f52b4e1ee7a/charts/centralbnkchina.pdf"
        target="_blank"
        class="btn btn--xs btn--bordered"
        style="margin-bottom:10px;"
      >PBOC Policy Tools</a>
    </div>
  </div>
</div>
